.carousel_container {
  width: 100%;
  min-height: 50rem;
  display: flex;
  flex-direction: column-reverse;
  flex-wrap: wrap;
  background-color: rgb(230, 230, 230);

  // desktop
  @media (min-width: 768px) {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
  }

  .information {
    flex-basis: 60%;
    display: flex;
    flex-direction: column;
        button {
      width: 8em;
      align-self: center;
      background-color: transparent;
      color: black;
      border: 2px solid black;
    }

    h1 {
      font-size: 2rem;
      margin: auto;

      @media (min-width: 768px) {
        text-align: left;
        font-size: 8em;
        flex-basis: 60%;
      }
    }

    p {
      width: 45%;
      font-size: 1rem;
      margin: auto;
      margin-top: 1rem;
      margin-bottom: 1rem;
      text-align: center;

      @media (min-width: 768px) {
        text-align: left;
        font-size: 1.15em;
      }
    }
  }

  .products_container {
    flex-basis: 40%;
    display: flex;
    flex-wrap: wrap;
    // border: 2px solid red;

    img {
      width: 20rem;
margin: auto;
      @media (min-width: 768px) {
        width: 90%;
      }
    }
  }
}