.carousel_container {
  width: 100%;
  background-color: transparent;
  align-items: center;
  display: flex;
  flex-direction: column;
  z-index: 0;
  background-color: transparent;
  margin-left: auto;
  margin-right: auto;
  // min-height: 30rem;
  padding-bottom: 2rem;
  // padding-top: 2rem;
  @media (min-width: 768px) {
    width: 100%;
    // margin: auto;
  }

  .products_container {
    width: 100%;
    display: flex;
    flex-direction: row;
    // justify-content: space-around;

    // border: 2px solid red;
    img {
      width: 100%;
      height: 56.25%;
      @media (min-width: 768px) {
        width: 100%;
        height: 56.25%;
      }
    }
  }

  .arrow_button {
    display: none;
    overflow: hidden;

    @media (min-width: 768px) {
      display: inline-block;
      height: 40px;
      width: 40px;
      align-self: center;
      cursor: pointer;
      border: none;
      background-color: transparent;
      color: black;
      position: absolute;

      &:hover {
        background-color: black;
        transition: 0.5s;
        color: white;
      }
    }
  }
  .L {
    left: 0;
  }
  .R {
    right: 0;
  }

  .count_groups {
    width: 200px;
    display: flex;
    justify-content: center;
    margin-top: 1rem;
  }

  .count_active {
    color: red;
  }
}
