// Genereal
.button_footer {
  width: 90%;
  background-color: black;
  font-size: 2rem;
  text-align: left;
  color: white;
  margin-bottom: 0.5em;
  margin-top: 0.5em;
  margin-left: 0.25em;
  font-size: 1.75em;

  @media (min-width:768px) {
    width: 100%;
    padding-left: 0.25em;
    margin-bottom: 0.5em;
    margin-top: 0.5em;
    margin-left: 0;
    font-size: 0.5em;
  }
}

input {
  width: 80%;
  height: 2em;
  margin-top: 0.5em;
}

// Desktop view
@media (min-width: 768px) {
  .footer_container {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    width: 99%;
    margin-left: auto;
    margin-right: auto;
    color: black;
    background-color: white;
    padding-top: 2em;

    .upper {
      width: 95%;
      display: flex;
      justify-content: flex-start;
      border-bottom: 1px solid black;
      margin-left: 1em;
    }

    .lower {
      margin-bottom: 1em;

      p {
        font-size: 0.9em;
      }

      button {
        width: 100%;
        background-color: black;
        border: none;
        font-size: 1.75em;
        text-align: left;
        color: white;
        padding-left: 0.25em;
        margin-bottom: 0.5em;
        margin-top: 0.5em;
      }

      display: flex;
      justify-content: space-evenly;

      .customerservice_container {
        width: 30%;
        display: flex;
        flex-direction: column;
      }

      .information_container {
        width: 30%;
        display: flex;
        flex-direction: column;
      }

      .newsletter_container {
        width: 30%;
        display: flex;
        flex-direction: column;

        .newsletter_form {
          width: 100%;
          margin-top: 1em;

          input {
            width: 80%;
            height: 2em;
          }
        }
      }
    }

    .bottom {
      width: 95%;
      display: flex;
      justify-content: flex-start;
      border-top: 1px solid black;
      margin-left: 1em;
      padding: 1em 0 1em 0;
    }
  }
}

// Mobile view
@media (max-width: 767px) {
  .footer_container {
    display: flex;
    flex-direction: column;
    width: 90vw;
    margin-left: auto;
    margin-right: auto;
    padding-bottom: 1rem;
    padding-top: 5rem;
    background-color: white;

    .upper {
      width: 90%;
      display: flex;
      justify-content: flex-start;
      border-bottom: 1px solid black;
      margin-left: 0.25em;
    }

    .lower {

      .customerservice_container,
      .information_container {
        p {
          visibility: hidden;
          max-height: 0;
          overflow: hidden;
          transition: max-height 0.5s ease;
          font-size: 14px;
          margin-left: 0.75em;
          width: 90%;
        }

        button:focus+p {
          visibility: visible;
          max-height: 1000px;
          /* Adjust the value to match the maximum height of your content */
          transition: max-height 2s ease;
        }
      }

      .newsletter_container {

        p,
        .letter_form {
          font-size: 14px;
          margin-left: 0.75em;
          width: 90%;
        }

        .letter_form {
          visibility: hidden;
          max-height: 0;
          overflow: hidden;
          transition: max-height 0.5s ease;
        }

        button:focus+.letter_form {
          visibility: visible;
          max-height: 1000px;
          transition: max-height 2s ease;
        }

        .lower_newsletter {
          .social_ic {
            margin-left: 0.25em;
          }
        }
      }
    }

    .bottom {
      margin-left: 0.25em;

    }
  }
}