// for mobile
.productInformation_container {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 0 auto 0 auto;
  .productInformation_text {
    width: 80%;
    display: flex;
    flex-direction: column;
    margin-top: 1rem;
    font-family: "Quicksand-Regular";
    background-color: white;
    margin-left: auto;
    margin-right: auto;
    border-radius: 4%;
    padding-left: 0.5rem;
    padding-bottom: 2rem;

    .title {
      width: 300px;
      font-size: 1.25rem;
      color: black;
      font-family: "Quicksand-Bold";
    }

    .textSet {
      font-size: 1rem;
      margin-top: 0.5em;
      border-top: 1px solid black;
      border-bottom: 1px solid rgba(228, 228, 228, 0.845);
      width: 90%;
      padding-top: 1rem;
      padding-bottom: 1rem;
    }

    .price {
      font-size: 2rem;
      margin-top: 0.5em;
    }

    .buttons {
      width: 100%;
      display: flex;
      align-items: center;
      justify-content: space-between;
      margin-top: 1rem;

      .addcart {
        width: 70%;
        padding: 0.5em;
        font-size: 1.5em;
        background-color: black;
        color: white;
        border: 2px solid;
        height: 4rem;
      }

      .favorite {
        width: 22%;
        height: 3.5rem;
        padding: 0.5em;
        border: none;
      }
    }

    .buttonSet {
      display: flex;
      flex-direction: column;

      .size_group {
        display: flex;
        justify-content: space-around;
        width: 100%;
        margin: 1em auto 1em auto;
        flex-direction: column;

        .sizeSelection {
          padding: 1rem 2rem 1rem 2rem;
          margin-right: 0.5em;
          background-color: white;
          border: 1px solid black;
          margin-top: 6px;

          // border-radius: 30%;
          &:hover {
            background-color: black;
            color: white;
            cursor: pointer;
          }
        }

        .activated {
          background-color: black;
          color: white;
        }
      }
    }

    .right {
      display: flex;
      align-items: center;
      width: 55%;
      justify-content: flex-end;
    }
  }

  .productInformation_image {
    display: flex;
    width: 85%;
    justify-content: space-evenly;
    margin-left: auto;
    margin-right: auto;
    .main {
      flex-basis: 60%;
      display: flex;

      justify-content: center;

      img {
        width: 100%;
      }
    }

    .minor {
      flex-basis: 30%;
      display: flex;
      flex-direction: column;

      img {
        max-width: 100%;
      }

      img + img {
        margin-top: 0.25em;
      }
    }
  }

  .sizeguide {
    width: 100%;
    margin-top: 2rem;
    // background-color: rgb(48, 48, 48);
    display: flex;
    justify-content: center;
    margin-left: auto;
    margin-right: auto;

    img {
      width: 80%;
    }
  }
}

// For desktop
@media (min-width: 768px) {
  .productInformation_container {
    max-width: 80%;
    min-width: 60%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: flex-start;
    margin: 4rem auto 0 auto;
    padding: 0;

    .upper {
      min-width: 60%;
      display: flex;
      flex-direction: row;
      flex-wrap: wrap;

      .productInformation_text {
        width: 50%;
        display: flex;
        flex-direction: column;
        margin-top: 0;
        position: sticky;
        top: 1px;
        align-self: flex-start;

        .title {
          font-size: 2rem;
          width: 30rem;
        }

        .textSet {
          font-size: 1.25rem;
          margin-top: 0.5em;
        }

        .price {
          font-size: 2rem;
          margin-top: 0.5em;
        }

        .buttons {
          width: 100%;
          display: flex;
          align-items: center;
          justify-content: space-between;

          .addcart {
            width: 70%;
            padding: 0.5em;
            font-size: 1.5em;
            background-color: black;
            color: white;
            border: 2px solid;
            height: 4rem;

            &:hover {
              background-color: white;
              color: black;
              border: 1px solid black;
              cursor: pointer;
            }
          }

          .favorite {
            width: 22%;
            height: 3.5rem;
            padding: 0.5em;
            border: none;
          }
        }

        .buttonSet {
          .left {
            width: 40%;

            .size_group {
              display: flex;
              justify-content: space-around;
              width: 100%;

              .sizeSelection {
                width: 3rem;
                height: 1rem;
                margin-right: 0.5em;
                border-radius: 20%;
                border: none;
              }
            }
          }
        }

        .right {
          display: flex;
          align-items: center;
          width: 55%;
          justify-content: flex-end;
        }
      }

      .productInformation_image {
        display: flex;
        flex-direction: column;
        width: 45%;
        justify-content: space-evenly;

        .main {
          img {
            max-width: 55%;
          }
        }

        .minor {
          // flex-basis: 30%;
          display: flex;
          flex-direction: row;
          justify-content: space-evenly;
          margin-top: 1rem;

          img {
            max-width: 40%;
          }

          img + img {
            margin-top: 0.25em;
          }
        }
      }
    }

    .sizeguide {
      width: 100%;
      margin-top: 6rem;
      margin-bottom: 6rem;
      display: flex;
      justify-content: center;

      img {
        width: 60%;
      }
    }
  }
  .signin-notification {
    padding: 2rem 0 2rem 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: rgba(87, 87, 87, 0.857);
    position: fixed;
    z-index: 1;
    bottom: 0;
    left: 0;
    right: 0;
    top: 0;
    width: 100%;
    font-family: "Quicksand-regular";
    .heading {
      font-size: 8rem;
      margin-bottom: 2rem;
      font-family: "Circus-Regular";
      width: 60%;
      text-align: center;
      color: white;
      border-bottom: 1px solid white;
    }
    .title {
      width: 40%;
      text-align: center;
      color: white;
      font-size: 2rem;
    }
    .headingNotification {
      width: 80%;
      display: flex;
      button {
        border: none;
        background-color: transparent;
        color: white;
        cursor: pointer;
        padding: 0.5em;
        position: absolute;
        right: 0;
        top: 0;
        font-size: 2rem;

        &:hover {
          color: black;
        }
      }
    }

    h1 {
      margin-left: auto;
      margin-right: auto;
      width: 100%;
      text-align: center;
    }

    .buttons {
      display: flex;
      flex-direction: column;
      width: 100%;
      margin-top: 1rem;
      align-items: center;

      button {
        padding: 1em;
        width: 10%;
        border: none;
        background-color: transparent;
        color: white;
        font-size: 1rem;

        &:hover {
          background-color: black;
          cursor: pointer;
        }
      }

      button + button {
        margin-top: 1rem;
      }
    }
  }
}
