// for mobile
.productInformation_container {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 0 auto 0 auto;

  .productInformation_text {
    width: 80%;
    display: flex;
    flex-direction: column;
    margin-top: 1rem;
    .title {
      width: 300px;
      font-size: 1.25rem;
      color: brown;
      font-weight: bold;
    }
    .textSet {
      font-size: 1rem;

      margin-top: 0.5em;
    }
    .price {
      font-size: 2rem;
      margin-top: 0.5em;
    }
    .buttons {
      width: 100%;
      display: flex;
      align-items: center;
      justify-content: space-between;
      .addcart {
        width: 70%;
        padding: 0.5em;
        font-size: 1.5em;
        background-color: black;
        color: white;
        border: 2px solid;

        height: 4rem;
      }
      .favorite {
        width: 22%;
        height: 3.5rem;
        padding: 0.5em;
        border: none;
      }
    }

    .buttonSet {
      display: flex;
      flex-direction: row;
      flex-wrap: wrap;
      .left {
        width: 40%;

        .size_group {
          display: flex;
          justify-content: space-around;
          width: 100%;
          margin: 1em auto 1em auto;
          .sizeSelection {
            width: 3rem;
            height: 1rem;
            margin-right: 0.5em;
            border-radius: 20%;
            border: none;
          }
        }
      }
    }
    .right {
      display: flex;
      align-items: center;
      width: 55%;
      justify-content: flex-end;
    }
  }

  .productInformation_image {
    display: flex;
    width: 85%;
    justify-content: space-evenly;
    .main {
      flex-basis: 60%;
      display: flex;

      justify-content: center;
      img {
        max-width: 100%;
        border: 1px solid black;
      }
    }
    .minor {
      flex-basis: 30%;
      display: flex;
      flex-direction: column;
      img {
        max-width: 100%;
        border: 1px solid black;
      }
      img + img {
        margin-top: 0.25em;
      }
    }
  }

  .sizeguide {
    width: 100%;
    margin-top: 2em;
    background-color: rgb(48, 48, 48);
    display: flex;
    justify-content: center;
    img {
      width: 80%;
    }
  }
}

// For desktop

@media (min-width: 768px) {
  .productInformation_container {
    max-width: 80%;
    min-width: 60%;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0 auto 0 auto;

    .productInformation_text {
      width: 50%;
      display: flex;
      flex-direction: column;
      margin-top: 1rem;
      .title {
        font-size: 2rem;
        color: brown;
        font-weight: bold;
      }
      .textSet {
        font-size: 1.5rem;

        margin-top: 0.5em;
      }
      .price {
        font-size: 2rem;
        margin-top: 0.5em;
      }
      .buttons {
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: space-between;
        .addcart {
          width: 70%;
          padding: 0.5em;
          font-size: 1.5em;
          background-color: black;
          color: white;
          border: 2px solid;

          height: 4rem;
        }
        .favorite {
          width: 22%;
          height: 3.5rem;
          padding: 0.5em;
          border: none;
        }
      }

      .buttonSet {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        .left {
          width: 40%;
          .size_group {
            display: flex;
            justify-content: space-around;
            width: 100%;
            margin: 1em auto 1em auto;
            .sizeSelection {
              width: 3rem;
              height: 1rem;
              margin-right: 0.5em;
              border-radius: 20%;
              border: none;
            }
          }
        }
      }
      .right {
        display: flex;
        align-items: center;
        width: 55%;
        justify-content: flex-end;
      }
    }

    .productInformation_image {
      display: flex;
      width: 45%;
      justify-content: space-evenly;
      .main {
        flex-basis: 60%;
        display: flex;

        justify-content: center;
        img {
          max-width: 100%;
          border: 1px solid black;
        }
      }
      .minor {
        flex-basis: 30%;
        display: flex;
        flex-direction: column;
        img {
          max-width: 100%;
          border: 1px solid black;
        }
        img + img {
          margin-top: 0.25em;
        }
      }
    }

    .sizeguide {
      width: 60%;
      margin-top: 2em;
      background-color: rgb(48, 48, 48);
      display: flex;
      justify-content: center;
      img {
        width: 40%;
      }
    }
  }
}
