.post_container {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;

  .button_container {
    width: 80%;
    display: flex;
    justify-content: space-around;
    margin-top: 4rem;
    margin-bottom: 4rem;

  
    .button-red,
    .button-green,
    .button-blue {
      background-color: transparent;
      cursor: default;
      width: 4rem;
      padding: 0.25rem;
      border: none;
      font-size: 20px;
      @media (min-width: 768px) {
        width: 15%;
      }
    }

    .button-red--active {
      border-bottom: 5px solid black;
    }

    .button-blue--active {

      border-bottom: 5px solid black;
    }

    .button-green--active {
      border-bottom: 5px solid black;
    }

    // desktop
    @media (min-width: 768px) {
      justify-content: center;

      button {
        margin-left: 2rem;
      }
    }
  }

  .item_container {
    width: 80%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;

    // Mobile
    .item {
      width: calc(50% - 10px);
      /* Adjust the width as needed */
      height: 10rem;
      margin-bottom: 20px;
      border: 1px solid black;
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      background-color: rgb(230, 230, 230);

      .descrip {
        display: flex;
        align-items: center;
        justify-content: space-around;
        width: 100%;
      }

      img {
        width: 50%;
        /* Adjust the image width as needed */
      }

      //   Desktop
      @media (min-width: 768px) {
        max-width: calc(33.33% - 10px);
        // width: calc(18% - 10px);
        height: 30rem;

        img {
          max-width: 15em;
        }
      }
    }

    @media (min-width: 768px) {
      width: 60%;
    }
  }
}