.productInformation_container {
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding-top: 4rem;

    .productInformation_text {
        flex-basis: 80%;
        display: flex;
        flex-direction: column;
        .title {
            font-size: 4rem;
        }
        .textSet,
        .price {
            font-size: 1.5rem;

        }
        button {
            width: 10rem;
            height: 2rem;
        }
    }

    .productInformation_image {
        display: flex;
        flex-direction: column;
        .main {
            width: 15rem;
            min-height: 18rem;
            // desktop
            @media (min-width: 768px) {
                width: 25em;
                min-height: 20em;
            }
        }

        .minor {
            display: flex;
            flex-direction: row;
            justify-content: center;
            margin-top: 1rem;
            margin-bottom: 1rem;
            max-width: 15rem;
            min-height: 2rem;
            max-height: 4rem;
            align-self: center;
            @media (min-width:768px) {
                flex-direction: column;

            }

            img {
                width: 20%;
                margin-left: 1rem;
                margin: 0.5em;

                @media (min-width: 768px) {
                    margin: 1rem;
                }
            }
        }

        // desktop
        @media (min-width: 768px) {
            flex-direction: row-reverse;
        }
    }

    // desktop
    @media (min-width: 768px) {
        flex-direction: row;
        align-items: center;
        justify-content: center;
        padding-left: 20rem;
    }
}