.relevant_container {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-left: auto;
  margin-right: auto;
  padding: 0;

  @media (min-width: 768px) {
    width: 70%;
  }

  .heading {
    font-family: "Quicksand-regular";
    margin: 2rem 0 2rem 0;
  }

  // Moblie
  .relevant-items {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 10px;
    padding: 0;
    width: 100%;
    justify-items: center;
    @media (min-width: 768px) {
      grid-template-columns: 1fr 1fr 1fr;

      width: 90%;
      margin-left: auto;
      margin-right: auto;
      // justify-content: center;
    }

    .item {
      display: flex;
      flex-direction: column;
      width: calc(80% - 10px);
      margin-bottom: 4rem;

      .item-img {
        width: 100%;
        height: 15rem;
        border-radius: 5%;
        @media (min-width: 768px) {
          width: 75%;
          height: 15rem;
          align-self: center;
        }
      }

      .item-text {
        width: 100%;
        margin-top: 12px;
        padding-bottom: 10px;
        h2 {
          font-size: 14px;
          font-family: "Quicksand-regular";
          color: black;
          text-decoration: none !important;
        }

        @media (min-width: 768px) {
          width: 75%;
          align-self: center;
        }
      }

      &:hover {
        cursor: pointer;
        color: brown;
        .item-text {
          border-bottom: 1px solid black;
        }
      }
    }
  }
}

// desktop
