.itemCollection-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding-bottom: 2rem;
  padding-top: 2rem;
  margin-bottom: 1rem;
  margin-top: 1rem;
  @media (min-width: 768px) {
    width: 70%;
  }

  h1 {
    text-align: center;
    margin-bottom: 2rem;
    justify-self: center;
    margin-bottom: 2rem;
    font-size: 25px;
    font-family: "Quicksand-Regular";
  }
  .images {
    display: flex;
    justify-content: center;
    img {
      width: 45%;
      max-height: 35rem;
      @media (min-width: 768px) {
        filter: grayscale(80%);
        width: auto;

        &:hover {
          filter: none;
          cursor: pointer;
          //   scale: 1.05;
          transition: 1s;
        }
      }
    }
    img + img {
      margin-left: 0.5rem;
    }
  }
}
