@font-face {
    font-family: 'Quicksand-Regular';
    src: url('./fonts/quicksand/Quicksand-Regular.otf') format('opentype');
}

@font-face {
    font-family: 'Quicksand-Bold';
    src: url('./fonts/quicksand/Quicksand-Bold.otf') format('opentype');

}

@font-face {
    font-family: 'Bebas_Neue';
    src: url('./fonts//Bebas_Neue/BebasNeue-Regular.ttf') format('truetype');
}