.home_container {
  width: 100vw;
  height: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  // background-image: url("https://firebasestorage.googleapis.com/v0/b/thebra-f81ef.appspot.com/o/Background%2FcaroBackground.png?alt=media&token=29dc4f26-6964-4beb-bb6b-0381fa2f3bab");
  // background-size: 60%;
  // background-position: center;
}
