.app_container {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100vw;
  margin-bottom: 1rem;

  .upper {
    width: 80%;
    height: 4rem;
    color: black;
    background-color: white;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    padding-top: 4rem;
    padding-bottom: 4rem;
    position: static;
    top: 0;
    margin-top: 1.5em;

    .userAvatar {
      display: flex;
      justify-content: center;
      .avatar {
        width: 2em;
      }
      .status {
        width: 0.75em;
        height: 0.75em;
        background-color: green;
        border-radius: 50%;
      }
    }

    .logo_container {
      color: red;
      width: 10rem;
      height: 4rem;

      background-image: url("https://firebasestorage.googleapis.com/v0/b/thebra-f81ef.appspot.com/o/logotext.png?alt=media&token=38df1f6c-45d2-46cb-9aeb-287b0a27d68e");
      background-position: center;
      // desktop
      @media (min-width: 768px) {
        width: 20rem;
      }
    }
  }

  .lower {
    width: 100%;


    @media (min-width: 768px) {
      width: 80%;
    }

    .popupmenu {
      width: 100%;
      background-color: brown;
      color: black;
    }
  }
}
