.app_container {
  display: flex;
  flex-direction: column;
  width: 100vw;
  margin-left: auto;
  margin-right: auto;

  @media (min-width: 768px) {
    width: 100%;
  }

  @media (min-width: 2560) {
    width: 75vw;
  }

  button {
    background-color: transparent;
    border: none;
    cursor: pointer;
  }

  .upper {
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    background-color: rgba(241, 240, 240, 0.887);

    @media (min-width: 500px) {
      width: 95%;
      justify-content: space-between;
    }

    @media (min-width: 700px) {
      width: 98%;
      justify-content: space-between;
    }

    @media (min-width: 768px) {
      width: 100%;
    }

    .hamburger {
      display: flex;
      align-items: center;
      cursor: pointer;
      color: black;
      // margin-left: 1rem;
      @media (min-width: 768px) {
        display: none;
      }
    }

    .sites {
      display: flex;
      font-family: "Quicksand-Regular";
      align-items: center;
      .siteLinks {
        display: none;

        @media (min-width: 768px) {
          display: flex;
          flex-direction: row;
          padding: 20px;
        }

        .link {
          list-style: none;
          text-decoration: none;
          font-size: 1.75rem;
          li {
            color: black;
            padding: 6px;

            &:hover {
              border-bottom: 1px solid rgb(180, 167, 167);
            }
          }
        }
      }
    }

    .appbar_button {
      @media (min-width: 700px) {
        margin-right: 1.5rem;
      }

      @media (min-width: 768px) {
        display: flex;
        width: 10%;
      }

      button {
        width: 1.75rem;
        outline: none;

        &:hover {
          border-bottom: 1px solid rgb(180, 167, 167);
        }
      }

      .icon-ban {
        &:hover {
          border: none;
        }
      }

      .accountButton--active {
        color: green;
      }

      display: flex;
      justify-content: space-evenly;
    }

    .logo_container {
      .myLogo {
        width: 8rem;

        @media (min-width: 768px) {
          width: 9rem;
        }
      }
    }
  }

  .lower {
    width: 100%;
  }
}
