.marquee-container {
    overflow: hidden;
    background-color: white;
    width: 80%;
  }
  
  .marquee {
    display: inline-block;
    white-space: nowrap;
    animation: marqueeAnimation 30s linear infinite;
    transform: translateX(100%);
  }
  
  @keyframes marqueeAnimation {
    0% {
      transform: translateX(100%);
    }

    100% {
      transform: translateX(-100%);
    }
  }