.marquee-container {
    overflow: hidden;
    background-color: black;
    width: 100%;
    // @media (min-width:768px){
    //   width: 100%;
    // }
    
  }
  
  .marquee {
    display: inline-block;
    white-space: nowrap;
    animation: marqueeAnimation 30s linear infinite;
    transform: translateX(100%);
    color: white  ;
  }
  
  @keyframes marqueeAnimation {
    0% {
      transform: translateX(100%);
    }

    100% {
      transform: translateX(-100%);
    }
  }