.form_container {
    // height: 20rem;
    width: 80%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;

    form {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-evenly;
        width: 100%;
        height: auto;

        div {
            display: flex;
            flex-direction: column;
            margin-top: 1em;

            input {
                width: 15em;
                height: 2em;
                padding: 0.5em;

                // desktop
                @media (min-width: 768px) {
                    width: 30em;
                    height: 2em;
                    padding: 1em;
                }

            }
        }

        .submit_container {
            width: 100%;
            padding-top: 2em;
            padding-bottom: 2em;
            align-items: center;
            display: flex;
            justify-content: space-around;

            .button2 {
                width: 10em;
                height: 2em;
                padding: 0.5em;
                text-align: center;
                @media (min-width:768px) {
                width: 30%;
                }
                cursor: pointer;
             
            }
            .signup_button{
                border-radius: 8%;
                background-color: blue;
                color: white;
                box-sizing: border-box;
                text-align: center;
                font-size: 0.95rem;
                padding: 1rem 0 1rem 0;
                 vertical-align: middle;
                text-align: center;
            }
            .newaccount_button{
                border: none;
                background-color: transparent;
            }
            @media (min-width: 768px) {
                width: 50%;
                height: 10rem;
                align-items: center;
                display: flex;
                justify-content: space-around;
            }
        }

    }

}