.form_container {
    // height: 20rem;
    width: 80%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    font-family: 'Quicksand-regular';

    h1 {
        text-align: center;
        font-size: 1.65rem;
        margin-top: 1rem;

        @media(min-width:768px) {
            font-size: 2rem;
            margin-top: 4rem;
        }
    }

    form {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-evenly;
        width: 100%;
        height: auto;
        margin-top: 2rem;

        div {
            display: flex;
            flex-direction: column;
            margin-top: 1em;

            input {
                width: 15em;
                height: 2em;
                padding: 0.5em;

                // desktop
                @media (min-width: 768px) {
                    width: 30em;
                    height: 2em;
                    padding: 1em;
                }

            }
        }

        .submit_container {
            width: 100%;
            padding-top: 2em;
            padding-bottom: 2em;
            align-items: center;
            display: flex;
            justify-content: space-around;

            .signup_button {
                color: black;
                text-align: center;
                font-size: 1rem;
                background-color: transparent;
                padding: 1rem;
                border: none;
                font-family: 'Quicksand-regular';

                &:hover {
                    color: black;
                    border: 1px solid black;
                    cursor: pointer;
                }
            }

            .newaccount_button {
                border: none;
                background-color: transparent;
            }

            @media (min-width: 768px) {
                width: 50%;
                height: 10rem;
                align-items: center;
                display: flex;
                justify-content: space-around;
            }
        }

    }

}